@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.ant-drawer-content-wrapper {
  height: 95vh !important;
}

.ant-drawer-content {
  border-radius: 12px;
}

.border-left {
  border-left: 1px solid;
}

.product-card-container {
  transition: transform .2s;
  z-index: 100;
}

.product-card-container:hover {
  transition-property: transform, left, right;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
}

.ant-select, .ant-picker {
  width: 100% !important;
}
